.bottom-menu2 {
    position: absolute;
    bottom: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    gap: 5px;
}

.bottom-menu2__list {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 7px 20px;
}

.bottom-menu2__item {
    width: 35px;
    height: 35px;
    border: none;

    img {
        width: 100%;
        height: 100%;
    }
}

.bottom-menu2__item:hover {
    transform: scale(1.1);
}

.bottom-menu2__links {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
        margin: 0;
        color: #ffffff;
    }
}

