.toggle-container-project {
  display: flex;
  background: #ffffff;
  padding: 4px;
  margin: 10px;
  border-radius: 50px;
  width: 90%;
  border: 1px solid #d8d8d8;
}

.button {
  flex: 1;
  padding: 8px 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.4);
  text-align: center;
}

.active {
  background: linear-gradient(90deg, #33c2ff, #0077ff);
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.toggle-button-container {
  background: linear-gradient(90deg, #33c2ff, #0077ff);
}
